body{
    font-family: 'Courier New', Courier, monospace;
    font-size: xxx-large;
}

.content{
    width: 99vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

